  :root{
    
--body-color:#263828;
--minor-color:#8F95A5;






  }
  
  
  
  
  *,
  ::after,
  ::before
  {box-sizing: border-box;
    
  }
  
  body{
    font-family: 'Poppins',
        sans-serif;
    color: #000000;
    margin: 0;
}
  
  ul{
    list-style: none;
     margin: 0;
    padding: 0;
}
a{text-decoration: none;}


h1,h2,h3,p{margin: 0;}




.container{
    margin: 0 auto;
    max-width: 1338px;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid tomato;
}
/* -------------------------------HEADER--------------------------------- */
.header{
    padding-top: 55px;
    padding-bottom: 55px;
}
.header-link{
    
    color: #939393;
    
font-size: 36px;
    line-height: calc(54/36);
}

.header-color-link{
    font-size: 36px;
        line-height: calc(54/36);
    color:var(--body-color)}

.header-list{
    display: flex;
    align-items: center;
    }

.header-list-nav{
    display: flex;
    gap: 50px;
    margin-left: 236px;}

.header-item-nav{}

.nav-link{
    display: block;
    color: var(--body-color);
    font-weight: 500;
        font-size: 20px;
        line-height: calc(30/20);
        padding: 20px 0px;
       
}

.nav-btn{
    margin-left: auto;
    padding: 20px 107px;
    background-color: transparent;
    border: 2px solid var(--body-color);
    border-radius: 10px;

    
        font-size: 20px;
        line-height: calc(30/20);
         text-align: center;
        letter-spacing: 0.03em;
        color: #000000;
}
.nav-btn:active{
    background-color:#dad8d8;
border:2px solid #dad8d8;
}

/* _______________HERO______________________ */

.hero{
    display: flex;
      justify-content: space-between;

}

.hero-box{max-width: 540px;}

.h1{font-weight: 600;
    font-size: 64px;
    line-height: calc(80/64);}

    .lamp{}


.h1-lamp
{display: flex;
margin-bottom: 40px;}



.hero-text{
    font-size: 24px;
        line-height: 36px;
        margin-bottom: 60px;
        color:var(--minor-color);
}

.hero-btn{
    font-size: 36px;
        line-height: calc(54/36);
     text-align: center;
        letter-spacing: 0.03em;
        color: aliceblue;
        background-color: #263238;
        min-width: 426px;
            border-radius: 10px;
            padding: 23px 64px;
}


.exp{width: 386px;
height: 240px;}

/*_______________________________SKILS_________________________ */

.skills{padding: 180px 0px;}

.h2-title{
    font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        margin-bottom: 60px;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.skills-item-speaking{
    grid-area: 1 / 1 / 4 / 2;
    background: #F5F5F5;
        border-radius: 10px;
    
}

.skills-item-writing {
    grid-area: 3 / 2 / 4 / 4;
    background: #F5F5F5;
        border-radius: 10px;
}

.skills-item-reading {
    grid-area: 1 / 2 / 3 / 3;
    background: #F5F5F5;
        border-radius: 10px;
}

.skills-item-learn {
    grid-area: 1 / 3 / 3 / 4;
    background: #F5F5F5;
        border-radius: 10px;
}
.skills-text{
    font-size: 16px;
    line-height: 24px;
color: var(--minor-color);}
